<p>Name: <%= @experience.name %></p>
<p>Description: <%= @experience.description %></p>
<p>Date Visited: <%= @experience.visit_date %></p>
<p><a href="/experiences/<%= @experience.id %>/edit">Edit Experience</a></p>
<form method="post" action="/experiences/<%= @experience.id %>/delete">
  <input type="submit" value="Delete Experience"/>
</form>
