<p>Name: <%= @experience.name %></p>
<p>Description: <%= @experience.description %></p>
<p>Date Visited: <%= @experience.visit_date %></p>
<form method="post" action="/experiences/<%= @experience.id %>/edit">
  <input type="submit" value="Edit Experience"/>
</form>
<form method="post" action="/experiences/<%= @experience.id %>/delete">
  <input type="submit" value="Delete Experience"/>
</form>
<form method="get" action="/experiences/new">
  <input type="submit" value="Create Experience"/>
</form>
